{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [
        {pre_hooks, [{compile, "gleam build ."}]},
        {src_dirs, ["src", "test", "gen/src", "gen/test"]}
    ]},

    {dev, [
        {pre_hooks, [{compile, "gleam build ."}]}
    ]}
]}.

{deps, [
    {gleam_stdlib, {git, "git://github.com/gleam-lang/stdlib.git", {ref, "eef64e6cc28ef4e001818381c317b42095653ff9"}}}
]}.
